body {
	width: 100%;
	margin: 0;
	padding: 0;
    background: #eee;
    position: relative;
    overflow: hidden;

    font-family: 'Raleway', sans-serif;
}

.page {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.page#intro {
	color: black;
}

.page#intro .background {
	position: relative;
	height: 100%;
	width: 100%;
}

.page#intro .hiscore {
	width: 100%;
	font-size: 2em;
	text-align: center;
	padding-top: 1em;
	font-weight: 500;
}

.page#game {
	background-color: red;
}

.page#results {
	text-align: center;
	background: #ddd;
}

.menu {
	height: 10%;
	background-color: #aaa;
}

.page#game .container {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #ddd;
}

.page#game canvas {
	width: 100%;
	height: 100%;
	background-color: #eee;
}

.levels {
	width: 100%;
	text-align: center;
}

.levels .level {
	height: 5em;
	border: 1px solid black;
	width: 5em;
	margin: auto;
	display: inline-block;
	margin-right: 1em;
	margin-left: 1em;
	cursor: pointer;
}